/* Main Slider Button css
============================================================================================ */
/* Quote Red BTN */
.l_btn{
    height: 60px;
    width: 180px;
    border: 1px solid #fff;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 14px;
    font-family: $pop;
    font-weight: bold;
    text-transform: uppercase;
    @include transition;
    &:hover, &:focus{
        background: $baseColor;
        border-color: $baseColor;
        color: #fff;
    }
}

/* Bg Base BTN */
.c_btn{
    height: 60px;
    width: 180px;
    display: inline-block;
    background: $baseColor;
    border: 1px solid $baseColor;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 14px;
    font-family: $pop;
    font-weight: bold;
    text-transform: uppercase;
    @include transition;
    padding: 0px;
    &:hover, &:focus{
        background: transparent;
        border-color: #fff;
        color: #fff;
    }
}

/* Quote Red BTN */
.quote_btn{
    background: $red;
    width: 180px;
    height: 50px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    font-family: $pop;
    font-weight: 600;
    @include transition;
    &:hover, &:focus{
        background: $baseColor;
        color: #fff;
    }
}

/* Purchase BTN */
.p_btn{
    background: $baseColor;
    width: 180px;
    height: 50px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    font-family: $pop;
    font-weight: 600;
    @include transition;
    &:hover, &:focus{
        background: $red;
        color: #fff;
    }
}
/* Main Slider button css
============================================================================================ */

/* Blog BTN Readmore css
============================================================================================ */
.blog_r_btn{
    width: 160px;
    height: 40px;
    border: 1px solid #ececec;
    display: block;
    margin: auto;
    font-family: $pop;
    font-size: 14px;
    color: $dip;
    text-transform: uppercase;
    line-height: 40px;
    @include transition;
    &:hover, &:focus{
        background: $baseColor;
        border: 1px solid $baseColor;
        color: #fff;
    }
}
/* End Blog BTN Readmore css
============================================================================================ */

/* Contact Submit BTN css
============================================================================================ */
.submit_dark{
    width: 210px;
    height: 60px;
    padding: 0px;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    background: #1e1e1f;
    font-family: $pop;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    @include transition;
    line-height: 60px;
    &:hover, &:focus{
        background: $baseColor;
        color: #fff;
    }
}
.submit_blue{
    width: 210px;
    height: 60px;
    padding: 0px;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    background: $baseColor;
    font-family: $pop;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    @include transition;
    &:hover, &:focus{
        background: #1e1e1f;
        color: #fff;
    }
}
/* End Contact Submit BTN css
============================================================================================ */

/*check features btn css
==============================================================================================*/
.check_btn{
    font-size: 14px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background: #1a1a26;
    display: inline-block;
    width: 210px;
    text-align: center;
    padding: 0px;
    @include transition;
    border-radius: 0px;
    box-shadow: none;
    &:hover, &:focus{
        background: $baseColor;
        color: #fff;
    }
}

/* pricing_btn css
============================================================================================ */
.pricing_btn{
    padding: 0px;
    height: 50px;
    border-radius: 0px;
    line-height: 50px;
    &:hover{
        background: $dip;
    }
}
/* pricing_btn css
============================================================================================ */

/* Blog read_btn css
============================================================================================ */
.read_btn{
    border-radius: 0px;
    width: 140px;
    height: 50px;
    background: #fff;
    color: $dip;
    line-height: 52px;
    border:0px;
    &:hover{
        background: $baseColor;
        color: #fff;
    }
}
/* Blog read_btn css
============================================================================================ */

/* About Read more shadow btn css
============================================================================================ */
.read_m_b{
    width: 120px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 8px;
    font-family: $pop;
    color: $pfont;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    background: #fff;
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2);
    &:hover{
        color: $pfont;
    }
}
/* End About Read more shadow btn css
============================================================================================ */