/* Map area css
============================================================================================ */
.map_area{
    position: relative;
    .mapBox{
        min-height: 850px;
    }
    .office_word_area{
        position: absolute;
        left: 0px;
        max-width: 960px;
        width: 100%;
        top: 0px;
        .office_text{
            width: 50%;
            overflow: hidden;
            background: #f8f8f8;
            min-height: 850px;
            padding: 0px 55px;
            .sec_b_title{
                padding-bottom: 35px;
                padding-top: 100px;
            }
        }
        .contact_form{
            width: 50%;
            overflow: hidden;
            min-height: 850px;
            background: url(../img/contact-bg.jpg) no-repeat scroll center center;
            background-size: cover;
            position: relative;
            z-index: 2;
            padding: 0px 60px;
            &:before{
                content: "";
                background: rgba(0, 0, 0, .5);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                z-index: -1;
                left: 0px;
            }
            .sec_title{
                padding-bottom: 35px;
                padding-top: 100px;
            }
        }
    }
}
.office_text_inner{
    .office_text_item{
        margin-top: 50px;
        h4{
            font-size: 18px;
            font-family: $pop;
            color: $dip;
            text-transform: uppercase;
            padding-bottom: 15px;
        }
        p{
            color: $pfont;
            font-family: $pop;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
        }
        &:first-child{
            margin-top: 0px;
        }
    }
}
.rewuest_contact{
    .form-group{
        input{
            background: transparent;
            border: 1px solid #fff;
            border-radius: 0px;
            height: 50px;
            padding: 0px 15px;
            outline: none;
            color: #fff;
            font-family: $pop;
            font-weight: 400;
            font-size: 14px;
            box-shadow: none;
            @include placeholder{
                color: #fff;
                font-family: $pop;
                font-weight: 400;
                font-size: 14px;
            }
            &:focus{
                border-color: $baseColor;
            }    
        } 
        label{
            color: #fff;
            font-family: $pop;
            font-weight: 400;
            font-size: 14px;
            padding-top: 5px;
        }
        .bootstrap-select{
            width: 100% !important;
            .dropdown-toggle{
                padding: 0px 15px;
                background: transparent;
                border-radius: 0px;
                border: 1px solid #fff;
                height: 50px;
                color: #fff;
                font-family: $pop;
                font-weight: 400;
                font-size: 14px;
                outline: none !important;
                box-shadow: none !important;
                .bs-caret{
                    &:before{
                        content: "\f107";
                        font: normal normal normal 14px/1 FontAwesome;
                        position: relative;
                        right: 15px;
                        top: 2px;
                    }
                    .caret{
                        display: none;
                    }    
                }
            }
            .dropdown-menu{
                margin-top: 5px;
                padding: 0px;
                border: none;
                border-radius: 0px;
                ul{
                    margin-top: 0px;
                    li{
                        a{
                            padding: 10px 15px;
                            font-family: $pop;
                            font-weight: 400;
                            color: $dip;
                            @include transition;
                            background: transparent;
                        }
                        &:hover{
                            a{
                                color: #fff;
                                background: $baseColor;
                            }
                        }
                    }
                }
            }
        }
        &:last-child{
            margin-top: 25px;
        }
    }
}
/* End Map area css
============================================================================================ */

/* Request Contact area css
============================================================================================ */
.req_contact_area{
    padding: 100px 0px; 
    position: relative;
    &:before{
        content: "";
        background: url("../img/about/about-pattern.jpg") no-repeat center left;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
    }
}
.req_map{
    .req_map{
        min-height: 518px;
        border: 10px solid #fff;
        max-width: 470px;
        -webkit-box-shadow: 0px 0px 50px -20px rgba(30,30,31,0.5);
        -moz-box-shadow: 0px 0px 50px -20px rgba(30,30,31,0.5);
        box-shadow: 0px 0px 50px -20px rgba(30,30,31,0.5);
    }
}
.req_contact_form{
    .sec_b_title{
        padding-left: 15px;
        padding-bottom: 30px;
    }
}
.req_contact_inner{
    .form-group{
        input{
            box-shadow: none;
            border: 1px solid #ececec;
            border-radius: 0px;
            outline: none;
            height: 50px;
            padding: 0px 15px;
            font-size: 14px;
            font-family: $pop;
            font-weight: 400;
            color: $pfont;
            @include transition;
            @include placeholder{
                font-size: 14px;
                font-family: $pop;
                font-weight: 400;
                color: $pfont;
            }
            &:focus{
                border: 1px solid $baseColor;
            }
        }
        label{
            font-size: 14px;
            font-family: $pop;
            font-weight: 400;
            color: $pfont;
            text-align: left;
            display: block;
            padding-top: 5px;
            height: 35px;
        }
        .bootstrap-select{
            width: 100% !important;
            .dropdown-toggle{
                padding: 0px 15px;
                background: transparent;
                border-radius: 0px;
                border: 1px solid #ececec;
                height: 50px;
                color: $pfont;
                font-family: $pop;
                font-weight: 400;
                font-size: 14px;
                outline: none !important;
                box-shadow: none !important;
                .bs-caret{
                    &:before{
                        content: "\f107";
                        font: normal normal normal 14px/1 FontAwesome;
                        position: relative;
                        right: 15px;
                        top: 2px;
                    }
                    .caret{
                        display: none;
                    }    
                }
            }
            .dropdown-menu{
                margin-top: 5px;
                padding: 0px;
                border: none;
                border-radius: 0px;
                ul{
                    margin-top: 0px;
                    li{
                        a{
                            padding: 10px 15px;
                            font-family: $pop;
                            font-weight: 400;
                            color: $dip;
                            @include transition;
                            background: transparent;
                        }
                        &:hover{
                            a{
                                color: #fff;
                                background: $baseColor;
                            }
                        }
                    }
                }
            }
        }
        .submit_dark{
            margin-top: 45px;
        }
    }
}
/* End Request Contact area css
============================================================================================ */


/* kl_request_form_area css
============================================================================================ */
.kl_request_form_area{
    background: url("../img/contact-bg2.jpg") no-repeat scroll center 0;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 82px 0px 100px;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        background: rgba(0, 0, 0, 0.80);
    }
    .sec_title{
        text-align: center;
        margin-bottom: 40px;
        h2{
            font-size: 32px;
            &:before{
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .req_contact_inner{
        max-width: 470px;
        margin: 0 auto;
        .form-group{
            text-align: center;
            .bootstrap-select{
                .dropdown-toggle{
                    background: #fff;
                }
            }
            .submit_dark {
                margin-top: 10px;
                background: $baseColor;
                &:hover{
                    background: #1e1e1f;
                }
            }
        } 
    }
}
/* End kl_request_form_area css
============================================================================================ */

/* End kl_request_form_area css
============================================================================================ */
.searchForm{
    background: $dip;
    height: 0px;
    @include transition;
    visibility: hidden;
    z-index: 15;
    position: relative;
    &.full_page_search{
        height: 100%;
        opacity: 0;
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 30;
        .input-group{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
        }
    }
    .input-group{
        .input-group-addon{
            background: transparent;
            border: none;
            color: #fff;
            padding: 6px 20px;
            font-size: 18px;
            cursor: pointer;
            transition: 0.2s linear;
            opacity: 0;
            &:hover{
                color: $baseColor;
            }
        }
        input{
            background: transparent;
            border-radius: 0px;
            border: none;
            height: 80px;
            padding: 0px 15px;
            text-align: center;
            color: #fff;
            font-family: $pop;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 2px;
            box-shadow: none;
            outline: none;
            opacity: 0;
            @include placeholder{
                color: #fff;
                font-family: $pop;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }
    &.show{
        height: 80px;
        visibility: visible;
        @include transition;
        &.full_page_search{
            height: 100%;
            opacity: 1;
        }
        .input-group{
            .input-group-addon{
                opacity: 1;
            }
            input{
                opacity: 1;
            }
        }
    }
}
.fixed{
    @include transition;
    .searchForm{
        position: fixed;
        width: 100%;
        top: 0px;
        @include transition;
    }
}
/* End kl_request_form_area css
============================================================================================ */

/* Works Contact area css
============================================================================================ */
.work_contact_inner{
    .full_left_sec_title{
        padding-bottom: 60px;
    }
    .rewuest_contact{
        .form-group{
            input{
                border-color: #ececec;
                color: $pfont;
                @include placeholder{
                    color: $pfont;
                }
            }
            label{
                color: $pfont;
                height: auto;
            }
            .bootstrap-select{
                .dropdown-toggle{
                    border-color: #ececec;
                    color: $pfont;
                }
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
}
/* End Works Contact area css
============================================================================================ */

/* Contact Details area css
============================================================================================ */
.office_details_area{
    overflow: hidden;
    background: #f8f8f8;
    &.office_rotat{
        .office_details_left{
            width: calc(50% - 302px);
            float: left;
            overflow: hidden;
        }
        .office_details_right{
            width: calc(50% + 302px);
            float: right;
            overflow: hidden;
        }
    }
}
.office_details_left{
    width: calc(50% + 302px);
    float: left;
    overflow: hidden;
}
.office_details_right{
    width: calc(50% - 302px);
    float: right;
    overflow: hidden;
}
.office_details_text{
    max-width: 345px;
    margin: auto;
    padding-top: 158px;
    h3{
        font-size: 24px;
        font-family: $pop;
        color: $dip;
        text-transform: uppercase;
        padding-bottom: 26px;
    }
    h5{
        font-size: 16px;
        font-family: $pop;
        color: $pfont;
        font-weight: 400;
        line-height: 36px;
    }
    a{
        color: $baseColor;
        display: block;
    }
}

.office_contact_form_area{
    padding: 100px 0px 120px 0px;
}
.office_contact_form{
    .form-group{
        input{
            border: none;
            border-bottom: 1px solid #dadedf;
            box-shadow: none;
            border-radius: 0px;
            padding: 0px;
            height: 50px;
            font-family: $pop;
            font-size: 14px;
            color: $pfont;
            font-weight: 400;
            @include placeholder{
                font-family: $pop;
                font-size: 14px;
                color: $pfont;
                font-weight: 400;
            }
            &:focus{
                border-color: $baseColor;
            }
        }
        label{
            font-family: $pop;
            font-size: 14px;
            color: $pfont;
            font-weight: 400;
            padding-top: 5px;
        }
        textarea{
            border: none;
            border-bottom: 1px solid #dadedf;
            box-shadow: none;
            border-radius: 0px;
            padding: 0px;
            height: 165px;
            font-family: $pop;
            font-size: 14px;
            color: $pfont;
            font-weight: 400;
            padding-top: 50px;
            resize: none;
            @include placeholder{
                font-family: $pop;
                font-size: 14px;
                color: $pfont;
                font-weight: 400;
            }
            &:focus{
                border-color: $baseColor;
            }
        }
        .submit_dark{
            margin: auto;
            display: block;
            width: 100%;
            height: 60px;
            line-height: 60px;
            max-width: 480px;
            margin-top: 35px;
        }
    }
}
.office_map_area{
    .mapBox{
        height: 620px;
    }
}
/* End Contact Details area css
============================================================================================ */

/* office Contact Details area css
============================================================================================ */
.office_c_area{
    overflow: hidden;
    clear: both;
    background: #f8f8f8;
}
.left_office_text{
    width: calc(50% - 320px);
    float: left;
    overflow: hidden;
}
.right_office_slider{
    width: calc(50% + 320px);
    float: right;
    overflow: hidden;
}
.c_office_slider{
    .item{
        img{
            width: auto;
        }
    }
    .owl-nav{
        .owl-prev, .owl-next{
            position: absolute;
            top: 30px;
            z-index: 5;
            height: 42px;
            width: 42px;
            color: #1a1a26;
            line-height: 42px;
            text-align: center;
            @include transition;
            cursor: pointer;
            &:hover{
                background: $baseColor;
                color: #fff;
            }
        }
        .owl-next{
            right: 30px;
        }
        .owl-prev{
            right: 72px;
        }
    }
}

.left_office_text{
    .office_text_inner{
        padding-top: 160px;
    }
}
.c_office_map{
    .mapBox{
        min-height: 860px;
    }
}
.c_office_text_item{
    padding-bottom: 70px;
    padding-left: 130px;
    &:last-child{
        margin-bottom: 0px;
    }    
    h5{
        font-size: 16px;
        color: $pfont;
        font-family: $pop;
        font-weight: 400;
        padding-bottom: 20px;
        &:last-child{
            padding-bottom: 0px;
        }
    }
    a{
        color: $baseColor;
        font-size: 16px;
        font-family: $pop;
        padding-bottom: 20px;
        display: block;
    }
}
.office_m_area{
    .left_office_text{
        float: left;
        width: calc(50% + 320px);
        overflow: hidden;
    }
    .right_office_slider{
        float: right;
        width: calc(50% - 320px);
        overflow: hidden;
        .office_text_inner{
            padding-top: 160px;
        }
    }
}
/* End office Contact Details area css
============================================================================================ */

/* Contact Details Form area css
============================================================================================ */
.contact_d_form{
    padding: 120px 0px;
    overflow: hidden;
}
.contact_d_details{
    h2{
        font-size: 36px;
        color: $dip;
        font-family: $pop;
        padding-bottom: 30px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
        color: $pfont;
        font-weight: 400;
        padding-bottom: 45px;
    }
    .contact_d_info{
        max-width: 335px;
        .media{
            margin-top: 25px;
            .media-left{
                padding-right: 25px;
                i{
                    color: $pfont;
                    font-size: 16px;
                }
            }
            .media-body{
                h4{
                    font-size: 16px;
                    color: $dip;
                    line-height: 24px;
                }
            }
            &:first-child{
                margin-top: 0px;
            }
            &:last-child{
                .media-body{
                    h4{
                        color: $baseColor;
                    }
                }
            }
        }
    }
}
.row.m0.contact_d_form_inner{
    border: 15px solid #f5f6f6;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    padding-bottom: 45px;
    .office_contact_form{
        .form-group{
            .submit_dark{
                width: 100%;
                max-width: none;
            }
            textarea{
                padding-top: 35px;
                height: 156px;
            }
        }
    }
}
/* End Contact Details Form area css
============================================================================================ */

/* Get in touch area css
============================================================================================ */
.get_in_touch_area{
    background: url(../img/get-in-touch-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    padding-top: 250px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding-bottom: 250px;
    &:before{
        content: "";
        background: rgba(26, 26, 38, .9);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
    .get_in_contact{
        .get_c_title{
            margin-bottom: 40px;
        }
        .rewuest_contact{
            max-width: 500px;
            margin: auto;
            overflow: hidden;
            clear: both;
            color: #888890;
            .form-group{
                input{
                    border-color: #888890;
                    @include placeholder{
                        color: #888890;
                    }
                    &:focus{
                        border-color: $baseColor;
                    }
                }
                textarea{
                    height: 150px;
                    border: 1px solid #888890;
                    border-radius: 0px;
                    outline: none;
                    box-shadow: none;
                    background: transparent;
                    padding: 18px 15px;
                    color: #fff;
                    font-family: $pop;
                    font-size: 14px;
                    font-weight: 400;
                    @include placeholder{
                        color: #888890;
                        font-family: $pop;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    &:focus{
                        border-color: $baseColor;
                    }
                }
                .submit_blue{
                    margin: auto;
                    display: block;
                }
                &:last-child{
                    margin-top: 30px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.get_office_details{
    overflow: hidden;
    clear: both;
    text-align: center;
    .get_text_of{
        padding: 106px 0px;
        h2{
            font-size: 24px;
            font-family: $pop;
            color: $dip;
            text-transform: uppercase;
            padding-bottom: 30px;
        }
        p{
            color: $pfont;
            font-size: 16px;
            font-family: $pop;
            font-weight: 400;
            padding-bottom: 13px;
        }
        h4{
            color: $baseColor;
            font-size: 16px;
            font-family: $pop;
            font-weight: 400;
            display: block;
            padding-bottom: 13px;
        }
        .get_direc{
            color: $dip;
            font-family: $pop;
            font-size: 16px;
            text-decoration: underline;
            line-height: 26px;
            @include transition;
            &:hover{
                color: $baseColor;
            }
        }
    }
    .get_left_office{
        width: 50%;
        float: left;
        overflow: hidden;
        background: #ebebeb;
    }    
    .get_right_office{
        width: 50%;
        float: right;
        overflow: hidden;
    }    
}
/* End Get in touch area css
============================================================================================ */

.section_img{
    overflow: hidden;
}



.modal.modal-message{
    .modal-dialog{
        margin: 130px auto 0px;
        .modal-content{
            text-align: center;
            .modal-header{
                border: none;
                h2{
                    color: $dip;
                    font-family: $play;
                    font-weight: bold;
                    font-size: 50px;
                    letter-spacing: 2px;
                    padding-top: 90px;
                }
                p{
                    font-size: 16px;
                    color: $pfont;
                    font-family: $pop;
                    letter-spacing: .34px;
                    padding-top: 10px;
                    padding-bottom: 100px;
                }
            }
        }
    }
}

.mchimp-errmessage, .mchimp-sucmessage{
    text-align: center;
    font-size: 14px;
    color: $dip;
    font-family: $pop;
    padding-top: 10px;
}
.gray_mailchimp{
    .mchimp-errmessage, .mchimp-sucmessage{
        text-align: center;
        font-size: 14px;
        color: $pfont !important;
        font-family: $pop;
        padding-top: 10px; 
    }
}