/* World Map css
============================================================================================ */
path{
    fill: #c5c5c5;
}
#world-map-gdp{
    height: 340px;
    width: 100%;
}
.works_contact_area{
    padding: 100px 0px;
    .work_contact_map{
        .full_sec_title{
            padding-bottom: 55px;
        }
    }
}
/* End World Map css
============================================================================================ */