
/*============= Start portfolio_area css =============*/
.portfolio_area{
    padding-top:156px;
    padding-bottom:  100px;
    .description_text{
        padding-top: 0px;
        padding-bottom: 50px;
        h5{
            font-style: italic;
            font-weight: 700;
            font-family: $play;
            padding-bottom: 10px;
            span{
                font-weight: 300;
            }
        }
    }
}

.port_fillter{
    text-align: center;
    border-bottom: 1px solid #e6e5e1;
    padding-bottom: 40px;
    padding-top: 44px;
    margin-bottom: 60px;
    li{
        display: inline-block;
        font: 400 16px/30px $pop;
        color: $dip;
        border-bottom: 1px solid transparent;
        margin: 0px 20px;
        cursor: pointer;
        transition: all 0.4s linear;
        &:hover{
            color: $pfont;
            border-color: $pfont;
        }
        &.active{
            color: $pfont;
            border-color: $pfont;
        }
    }
}
.port-gallery{
    margin-top: -50px;
    .project{
        margin-top: 50px;
    }
    .port-item{
        cursor: pointer;
        &:before{
            display: none;
        }
    }
}
.port-item{
    padding: 0px;
    &:hover{
        .port-img{
            &:before{
                opacity: 0.80;
            }
            a{
                transform: scale(1);
            }
        }
        .port_text{
            h2{
                color: $baseColor;
            }
        }
    }
}
.port-img{
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: $baseColor;
        z-index: 1;
        opacity: 0;
        transition: all 0.4s linear;
    }
    img{
        max-width: 100%;
    }
    a{
        position: absolute;
        font-size: 40px;
        color: #fff;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
        transform: scale(0);
        transition: all 0.4s linear;
        z-index: 1;
    }
}
.port_text{
    font-family: $pop;
    position: relative;
    padding-bottom: 7px;
    padding-top: 25px;
    z-index: 1;
    &:before{
        content: "";
        width: 30px;
        height: 1px;
        background: $baseColor;
        bottom: 0;
        position: absolute;
    }
    h2{
        font-size: 18px;
        line-height: 28px;
        color: $dip;
        text-transform: uppercase;
        transition: all 0.4s linear;
    }
    a{
        color: $pfont;
        text-transform: capitalize;
        &:hover{
            color: $baseColor;
        }
    }
}
.port_btn{
    display: block;
    margin: 60px auto 0px;
    background: $baseColor;
    &:hover{
        background: #1e1e1f;
    }
}
.port_masonry-g{
    margin-top: -40px;
    .project{
        margin-top: 40px;
    }
}
/*============= End portfolio_area css =============*/


/*============== portfolio_two_area css ==============*/
.portfolio_two_area{
    padding-bottom: 100px;
}
.por_two_item{
    padding: 0px;
    position: relative;
    overflow: hidden;
    img{
        max-width: 100%;
        width: 100%;
    }
    .port_hover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $baseColor;
        display: flex;
        opacity: 0;
        padding:30px 30px 60px;
        transition: all 0.6s linear;
        .icon{
            font-size: 33px;
            position: absolute;
            top: 30px;
            right: 30px;
            color: #fff;
            transform: scale(0);
            transition: all 400ms linear 0s;
        }
        .port_text{
            align-self: flex-end;
            width: 100%;
            padding-left: 20px;
            transition: all 400ms linear 0s;
            &:before{
                background: #fff;
            }
            h2{
                font-size: 18px;
                font-weight: 600;
                color: #fff;
            }
            a{
                color: #fff;
            }
        }
    }
    &:hover{
        .port_hover{
            opacity: 0.80;
            .icon{
                transform: scale(1);
            }
            .port_text{
                padding-left: 0px;
            }
        }
    }
}
/*============== portfolio_two_area css ==============*/

/*=================== portfolio_grid_area css =============*/
.portfolio_grid_area{
    padding-bottom: 100px;
    .por_grid_item{
        position: relative;
        z-index: 1;
        margin: 15px 0px;
        cursor: pointer;
        overflow: hidden;
        &:before{
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            display: block;
            background: #fff;
            opacity: 0;
            z-index: 0;
            transition: all 0.5s linear 0.01s;
        }
        img{
            width: 100%;
        }
        .hover_text{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 60px 60px 53px;
            opacity: 0;
            transition: all 0.5s linear 0.01s;
            transform: translateX(20px);
            a{
                font-size: 14px;
                color: $pfont;
                &:hover{
                    color: $baseColor; 
                }
            }
            h2{
                font-size: 24px;
                color: $dip;
                line-height: 30px;
                text-transform: uppercase;
                padding-bottom:18px;
            }
            .see_btn{
                font-size: 14px;
                color: $red;
                padding-top: 8px;
                display: block;
                &:hover{
                    color: $baseColor;
                }
                i{
                    padding-right: 10px;
                }
            }
        }
        &:hover{
            &:before{
                opacity: 0.90;
            }
            .hover_text{
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}


/*==============Start port_carousel_area css ============*/
.port_carousel_area{
    padding-top: 0px;
    .port-carousel{
        .owl-nav{
            .owl-prev,.owl-next{
                position: absolute;
                top:calc(50% - 45px);
                transform: translateY(-50%);
                font-size: 34px;
                color: #fff;
            }
            .owl-prev{
                left: 30px;
            }
            .owl-next{
                right: 30px;
            }
        }
    }
}
.carousel-item{
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background: $baseColor;
        opacity: 0;
        transition: all 0.4s linear;
        z-index: 1;
    }
    &:hover{
        &:before{
            opacity: 0.80;
        }
    }
}
.text_two{
    position: absolute;
    padding: 0px 10px 60px 60px;
    bottom: 0;
    width: 100%;
    &:before{
        display: none;
    }
    h2{
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
    }
    a{
        transition: all 0.4s linear;
        &:hover{
            color: #fff;
        }
    }
}
.owl-dots{
    text-align: center;
    margin-top: 60px;
    .owl-dot{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #c3c3c7;
        display: inline-block;
        margin: 0px 5px;
        &.active{
            background: $baseColor;
        }
    }
}
/*==============End port_carousel_area css ============*/

/*==================Start port_c_two_area css =============*/
.port_c_two_area{
    padding: 0px;
    .port-carousel_two{
        .carousel-item{
            position: relative;
            cursor: pointer;
            &:before{
                content: "";
                width: 100%;
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.12);
                transition: all 0.6s linear;
                opacity: 1;
            }
            .text_two{
                top: 50%;
                transform: translateY(-50%);
                bottom: auto;
                padding: 0px;
                text-align: center;
                h2{
                    color: #fff;
                }
                a{
                    color: #fff;
                }
            }
            &:hover{
                &:before{
                    background: $baseColor;
                    opacity: 0.5;
                }
            }
        }
    }
    .owl-dots{
        margin: 0px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        .owl-dot{
            background: #fff;
            opacity: 0.50;
            &.active{
                background: $baseColor;
            }
        }
    }
}
/*==================End port_c_two_area css =============*/

/*========== Start portfolio_masonry_two css ==========*/
.portfolio_masonry_two{
    margin-top: -10px;
    .portfolio_m_item{
        padding: 10px;
    }
}
/*========== End portfolio_masonry_two css ==========*/


/*============= Start single_portfolio_area css ===========*/
.portfolio_title{
    text-align: center;
    padding-bottom: 97px;
    h3{
        font-size: 36px;
        line-height: 40px;
        color: #1a1a26;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 15px;
    }
    a{
        font: 16px;
        line-height: 24px;
        font-family: $play;
        color: $pfont;
        font-style: italic;
        display: inline-block;
        & + a{
            &:before{
                content: "";
                width: 1px;
                height: 12px;
                background: $pfont;
                display: inline-block;
                transform: rotate(25deg);
                margin: 0px 7px 0px 4px;
            }
        }
    }
    &.text-left{
        text-align: left;
    }
}
.single_portfolio_area{
    padding-top: 150px;
    .single_port_img{
        & + .single_port_img{
            margin-top: 30px;
        }
    }
    .text_s_t{
        margin-bottom: 22px;
        h3{
            text-transform: capitalize;
        }
    }
    .driect_link{
        padding-bottom: 20px;
        padding-top: 124px;
        a{
            color: $dip;
            font-family: $pop;
            font-weight: 500;
            text-transform: uppercase;
            &.prev,&.next{
                position: relative;
                display: inline-block;
                transition: all 0.5s linear;
                i{
                    position: absolute;
                    top: 0;
                    line-height: 20px;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.4s linear;
                }
                &:hover{
                    color: $pfont;
                    i{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &.prev{
                &:hover{
                    padding-left: 15px;
                }
            }
            &.next{
                i{
                    left: auto;
                    right: 0;
                }
                &:hover{
                    padding-right: 15px;
                }
            }
        }
    }
}
.portfolio_details{
    padding-top: 60px;
}
.details_text{
    padding-right: 110px;
    .port_text{
        padding: 0px 0px 15px;
        h2{
            font-size: 32px;
            line-height: 35px;
            text-transform: capitalize;
            font-weight: 500;
            padding-bottom: 7px;
        }
    }
    p{
        padding-top: 25px;
    }
}
.info_text{
    margin-bottom: 40px;
    .info_details{
        tr{
            td{
                color: $dip;
                font-weight: 600;
                line-height: 32px;
                a{
                    color: $dip;
                    transition: all 0.4s linear;
                    &:hover{
                        color: $baseColor;
                    }
                }
                & + td{
                    padding-left: 7px;
                    font-weight: 400;
                }
            }
        }
    }
}
.info_social{
    ul{
        li{
            display: inline-block;
            a{
                font-size: 16px;
                color: $dip;
                padding-right: 36px;
                line-height: 35px;
                transition: all 0.4s linear;
                &:hover{
                    color: $pfont;
                }
            }
        }
    }
}
/*============= End single_portfolio_area css ===========*/

/*========== single_portfolio_two css ============*/
.single_portfolio_two{
    .portfolio_details{
        padding-top: 0px;
        padding-bottom: 50px;
    }
    .portfolio_slider{
        position: relative;
        margin-bottom: 60px;
        .owl-prev,.owl-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 54px;
            height:54px;
            border-radius: 50%;
            background: #fff;
            text-align: center;
            color: $pfont;
            line-height: 56px;
            z-index: 2;
            transition: all 0.5s linear;
            cursor: pointer;
            &:hover{
                background: $baseColor;
                color: #fff;
            }
        }
        .owl-prev{
            left: -27px;
        }
        .owl-next{
            right: -27px;
        }
    }
}


/*=========== single_portfolio_three css ============*/
.single_portfolio_three{
    .single_item{
        & + .single_item{
            margin-top: 30px;
        }
    }
    .details_text{
        padding-right: 0px;
        margin-bottom: 44px;
    }
}
/*============single_portfolio_four css ===========*/
.single_portfolio_four{
    padding-top: 100px;
    .portfolio_details{
        padding-top: 0px;
        padding-bottom: 50px
    }
}
.single_por_gallery{
    margin-top: -30px;
    .single_post{
        padding-top: 30px;
        img{
            max-width: 100%;
            width: 100%;
        }
    }
}
/*============ breadcrumb_area css ============*/
.breadcrumb_area{
    background: url("../img/single-portfolio/porfolio_baner.jpg") no-repeat scroll center 0;
    background-size: cover;
    padding: 307px 0px 320px;
    .breadcrumb_text{
        h3{
            font-size: 36px;
            line-height: 40px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            padding-bottom: 15px;
        }
        a{
            font: 16px;
            line-height: 24px;
            font-family: $play;
            color: #fff;
            font-style: italic;
            display: inline-block;
            & + a{
                &:before{
                    content: "";
                    width: 1px;
                    height: 12px;
                    background: #fff;
                    display: inline-block;
                    transform: rotate(25deg);
                    margin: 0px 7px 0px 4px;
                }
            }
        }
    }
}

