ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
    &:hover, &:focus{
       text-decoration:none;
       outline: none;
    }
}
.row.m0{
    margin: 0px;
}
.p0{
    padding: 0px;   
}
body{
    line-height: 24px;
    font-size: 14px;
    font-family: $pop; 
    color: $pfont;
}
body, p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}
#success{
    display: none;
}
#error{
    display: none;
}

.display_table{
    display: table;
    width: 100%;
}
.display_table_row{
    display: table-row;
}
.display_table_cell{
    display: table-cell;
    float: none !important;
}

iframe{
    border: none;
}
i{
    &:before{
        margin-left: 0px !important;
    }
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: $baseColor;
}

::selection{
  background-color:$baseColor;
  color:#fff;
}

-webkit-::selection{
    background-color:$baseColor;
    color:#fff;
}

::-moz-selection{
    background-color:$baseColor;
    color:#fff;
}

/* Main title css
============================================================================================ */
.main_title{
    text-align: center;
    display: block;
    h5{
        font-size: 16px;
        color: $pfont;
        font-family: $play;
        padding-bottom: 12px;
    }
    h2{
        font-size: 36px;
        font-family: $pop;
        color: $dip;
        position: relative;
        padding-bottom: 25px;
        &:before{
            content: "";
            width: 102px;
            height: 1px;
            background: $red;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
        }
    }
    p{
        color: $pfont;
        max-width: 695px;
        margin: 25px auto 9px;
    }
}
.main_w_title{
    text-align: center;
    display: block;
    h5{
        font-size: 16px;
        color: #fff;
        font-family: $play;
        padding-bottom: 12px;
        font-style: italic;
    }
    h2{
        font-size: 36px;
        font-family: $pop;
        color: #fff;
        position: relative;
        padding-bottom: 25px;
        &:before{
            content: "";
            width: 102px;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
        }
    }
    p{
        font-size: 14px;
        color: #fff;
        font-family: $pop;
        line-height: 24px;
        font-weight: 400;
        max-width: 830px;
        margin: auto;
        padding-top: 35px;
        & + p{
            padding-top: 25px;
        }
    }
}
.main_w_r_title{
    text-align: center;
    display: block;
    h5{
        font-size: 16px;
        color: #fff;
        font-family: $play;
        padding-bottom: 12px;
        font-style: italic;
    }
    h2{
        font-size: 36px;
        font-family: $pop;
        color: #fff;
        position: relative;
        padding-bottom: 25px;
        &:before{
            content: "";
            width: 102px;
            height: 1px;
            background: $red;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
        }
    }
    p{
        font-size: 14px;
        color: #fff;
        font-family: $pop;
        line-height: 24px;
        font-weight: 400;
        max-width: 830px;
        margin: auto;
        padding-top: 35px;
        & + p{
            padding-top: 25px;
        }
    }
}

.menu_title{
    text-align: center;
    h2{
        font-size: 20px;
        color: $dip;
        font-family: $pop;
        font-weight: 600;
        padding-bottom: 22px;
    }
    p{
        font-size: 14px;
        font-family: $pop;
        color: $pfont;
        line-height: 24px;
    }
}

.sec_title{
    color: #fff;
    h5{
        font: 400 16px/26px $play;
        text-transform: capitalize;
    }
    h2{
        font: 500 36px/40px $pop;
        position: relative;
        padding-bottom: 18px;
        &:before{
            content: "";
            width: 100px;
            height: 1px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    p{
        font: 400 14px/24px $pop;
        padding-top: 27px;
    }
}

.sec_title3{
    color: $dip;
    h2{
        &:before{
            background: $baseColor;
        }
    }
}

.sec_b_title{
    h5{
        font: 400 16px/26px $play;
        text-transform: capitalize;
        color: $pfont;
        padding-bottom: 5px;
    }
    h2{
        font: 500 36px/46px $pop;
        position: relative;
        padding-bottom: 15px;
        color: $dip;
        &:before{
            content: "";
            width: 100px;
            height: 1px;
            background: $red;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    p{
        font: 400 14px/24px $pop;
        padding-top: 27px;
        color: $pfont;
    }
}

.full_sec_title{
    text-align: center;
    display: block;
    h5{
        font-size: 16px;
        color: $pfont;
        font-family: $play;
        padding-bottom: 12px;
    }
    h2{
        font-size: 36px;
        font-family: $pop;
        color: $dip;
        position: relative;
    }
    p{
        font-size: 14px;
        font-family: $pop;
        line-height: 24px;
        color: $pfont;
        max-width: 590px;
        margin: auto;
        padding-top: 15px;
    }
}
.full_left_sec_title{
    text-align: left;
    display: block;
    h5{
        font-size: 16px;
        color: $pfont;
        font-family: $play;
        padding-bottom: 12px;
    }
    h2{
        font-size: 36px;
        font-family: $pop;
        color: $dip;
        position: relative;
    }
    p{
        font-size: 14px;
        font-family: $pop;
        line-height: 24px;
        color: $pfont;
        margin: auto;
        padding-top: 15px;
    }
}

.text_s_t{
    margin-bottom: 30px;
    h3{
        font-size: 24px;
        color: $dip;
        font-family: $pop;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 15px;
        &:before{
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 50px;
            height: 2px;
            background: $baseColor;
        }
    }
}

.get_c_title{
    text-align: center;
    color: #fff;
    position: relative;
    padding-bottom: 25px;
    &:before{
        content: "";
        width: 100px;
        height: 1px;
        background: $baseColor;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    h2{
        font-size: 32px;
        text-transform: uppercase;
        font-family: $pop;
        padding-bottom: 10px;
    }
    p{
        font-size: 14px;
        font-family: $pop;
        font-weight: 400;
    }
}

.breadcumd_title{
    text-align: center;
    h2{
        font-size: 60px;
        line-height: 60px;
        color: $dip;
        text-transform: capitalize;
        padding-bottom: 20px;
    }
    p{
        color: $pfont;
    }
}


.full_page_title{
    h5{
        font-style: italic;
        color: $dip;
    }
    h2{
        text-transform: uppercase;
        &:before{
            background: $baseColor;
        }
    }
    &.title_white{
        h5,h2,p{
            color: #fff;
        }
    }
}
/* End Main title css
============================================================================================ */

/* Magnify css
============================================================================================ */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
/* End Magnify css
============================================================================================ */


/*=========== pre-loader css =============*/
.loader-container {
    position: fixed;
    float: left;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: #2d2e2e;
    z-index: 999999;
}

.loader-container .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

#mask {
    width: 65px;
    height: 76px;
    line-height: 76px;
    margin: 0 auto;
    text-align: center;
}
#mask svg {
    width: 64px;
    height: 76px;
}
#mask svg .preloader-path {
    stroke-linejoin: round;
    fill: none;
    stroke: $baseColor;
    stroke-width: 1;
    stroke-dasharray: 70 32;
    -webkit-animation: preloader 1s infinite ease;
    animation: preloader 1s infinite ease;
}

@-webkit-keyframes preloader {
    from{
        stroke-width: 0;
        stroke-dashoffset: 0;
    }

    to {
        stroke-width: 1;
        stroke-dashoffset: 102px;
    }
}
@keyframes preloader {
    from {
        stroke-width: 0;
        stroke-dashoffset: 0;
    }

    to {
        stroke-width: 1;
        stroke-dashoffset: 102px;
    }
}
