/*font Variables*/
$pop: 'Poppins', sans-serif;
$play: 'Playfair Display', serif;
$ral: 'Raleway', sans-serif;
/*Color Variables*/

$baseColor: #6ed2e6;
$dip: #1a1a26;
$pfont: #888890;
$red: #f07f84;



// Mixins
@mixin transition($property: all, $duration: 400ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

.col-md-offset-right-1,.col-lg-offset-right-1{
    margin-right: 8.33333333%;
}
// Font family link

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
